// container margin for fixed navbar on top
#root > .container,
#root > .container-fluid {
  margin-top: 56px;
}

// navbar box-shadow
.navbar {
  box-shadow: 0 0 6px $black;
}

// remove padding-right from body when modal is open
.modal-open {
  padding-right: 0 !important;
}

// modal zoom animation
.modal.fade.show .modal-dialog.modal-dialog-zoom {
  transform: translate(0, 0) scale(0.5);
}

// modal box-shadow
.modal-content {
  border: none;
  box-shadow: $custom-box-shadow;
}

// css for custom backdrop component
.custom-backdrop {
  @extend .modal-backdrop;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  z-index: -2;
}

.custom-backdrop.show {
  z-index: 1029;
  display: block;
  opacity: 0.5;
}

// css for spinner component
.loading-spinner {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
