@import "containers";
@import "types";

.notification-item {
  position: relative;
}

.notification-close {
  font-size: 1.125rem;
  position: absolute;
  right: 0.625rem;
  top: 0;
}

.nc-center {
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 8000;
  pointer-events: all;
}

.nc-box {
  left: -50%;
  position: relative;
  transform: translateY(-50%);
}

.notification-container-mobile-bottom .notification-item,
.notification-container-mobile-bottom .notification-item-root,
.notification-container-mobile-top .notification-item,
.notification-container-mobile-top .notification-item-root {
  max-width: 100%;
  width: 100%;
}

.notification-item {
  display: flex;
  position: relative;
  cursor: pointer;
  border: $alert-border-width solid transparent;
  box-shadow: 0.0625rem 0.1875rem 0.25rem rgba(0, 0, 0, 0.2);
  @include border-radius($alert-border-radius);
}

.notification-container-bottom-right .notification-item-root,
.notification-container-top-right .notification-item-root {
  margin-left: auto;
}

.notification-container-bottom-left .notification-item-root,
.notification-container-top-left .notification-item-root {
  margin-right: auto;
}

.notification-container-mobile-bottom .notification-item-root,
.notification-container-mobile-top .notification-item-root {
  margin-left: auto;
  margin-right: auto;
}

.notification-item-root {
  width: 290px;
  margin-bottom: 0.9375rem;
}

.notification-title {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.notification-message {
  max-width: calc(100% - 15px);
  font-size: 1rem;
  line-height: 1.5rem;
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 0;
}

.notification-invisible {
  visibility: hidden;
  max-width: 23.4375rem;
}

.notification-visible {
  visibility: visible;
}

.notification-content {
  padding: $alert-padding-y $alert-padding-x;
  display: inline-block;
  width: 100%;
}
