@import "../variables";

.notification-default {
  background-color: $primary;
}

.notification-success {
  background-color: $success;
}

.notification-danger {
  background-color: $danger;
}

.notification-info {
  background-color: $info;
}

.notification-warning {
  background-color: $warning;
}

.notification-awesome {
  background-color: $indigo;
}

.notification-message,
.notification-title {
  color: $white;
}

.notification-close span {
  color: $white;
}
